<h6>Filters</h6>

<form>
    <div class="form-group">
        <label>From</label>
        <input type="number" id="form" class="form-control">
    </div>

    <div class="form-group">
        <label>From</label>
        <input type="number" id="form" class="form-control">
    </div>

    <button class="btn btn_blue">Apply</button>
</form>

<div class="renage-block" style="display: none;">
    <div class="renage col-5 text-center">
        <input type="range" id="myRange" min="25" max="75"><br />
        <br />
      
    </div>
</div>